<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
 
	<http auto-config="true" use-expressions="false">
		<!-- <intercept-url pattern="/" access="ROLE_USER" /> -->
		<form-login login-page="/login" default-target-url="/profile"
			authentication-failure-url="/loginfailed"  />
		
		<logout logout-success-url="/logout" />
	
	</http>
 
	<authentication-manager>

		<authentication-provider user-service-ref="userService">
		
				<password-encoder hash="plaintext"/>
		
		</authentication-provider>

	</authentication-manager>
	
	<!-- To support security tag lib on jsps -->
	<beans:bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>
 
</beans:beans>