body{
	margin:0px;
	margin-bottom:0px;
	background:#f9f9f9;
	font-family: sans-serif;
	font-size:12px;
}

#logo{
	width:200px;
	height:100px;
}

#free{
	position:relative;
	right:20px;
	top:40px;
}
#registerNow  img{
	position:fixed;
	right:-30px;
	top:25%;
}

#registerNow  img:hover{
	right:-10px;
	cursor:pointer;
}


#signupForm{
	border:dashed 4px #fff;/*abc6fd;*/
	background:#bfd8eb;
	/*background-image: url(free.gif);
	background-repeat: no-repeat;
	background-position: top left;*/
	min-width:460px;
	max-width:480px;
	/*width:500px;*/
	padding:25px 10px 0 0;
	margin-bottom:50px;
	
}

#signupForm .small{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:140px;
}







